/* .findInputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: center;
}
.findInputLabel {
  color: rgb(66, 63, 63);
  font-size: 20px;
}

.findInput {
  box-shadow: 0 0 6px 6px rgb(208, 210, 211);
  max-width: 200px;
  border: none;
  padding: 5px 5px;
  &:focus {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    outline: none;
  }
  &::placeholder {
    color: rgb(197, 197, 199);
  }
} */
