/* SearchBar.module.css */

.header {
  background-color: #3f51b5; /* Синій фон, як на вашій картинці */
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.findInputWrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
}

.findInput {
  width: 400px;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 25px 0 0 25px; /* Закруглення країв зліва */
}

.searchButton {
  background-color: #007bff; /* Колір кнопки */
  border: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 25px 25px 0; /* Закруглення країв справа */
}

.searchButton:hover {
  background-color: #0056b3;
}

.searchIcon {
  color: white; /* Колір іконки */
  width: 20px;
  height: 20px;
}
