.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 25px;
  box-shadow: 0 0 6px 6px rgb(208, 210, 211);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.input {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-width: 200px;
  border: none;
  outline: none;
  padding: 5px 5px;
  &:focus {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
  &::placeholder {
    color: rgb(197, 197, 199);
  }
}

.btn {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  box-shadow: 2px 2px 4px 4px lightgray;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(136, 165, 191, 0.48);
    cursor: pointer;
  }
}

.errorMessage {
  position: absolute;
  right: 2px;
  color: red;
  font-size: 14px;
}
