h1 {
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 80vh;
}
